{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['enemy_name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="enemy_name">Enemy Name</label>
    <input name="enemy_name" id="enemy_name"
           value="{{ request.form['enemy_name'] or post['enemy_name'] }}" required>
    <label for="enemy_health">Enemy Health</label>
    <input name="enemy_health" id="enemy_health"
           value="{{ request.form['enemy_health'] or post['enemy_health'] }}">
    <label for="enemy_resistance">Enemy Resistance</label>
    <input name="enemy_resistance" id="enemy_resistance"
           value="{{ request.form['enemy_resistance'] or post['enemy_resistance'] }}">
    <label for="enemy_rank">Enemy Rank</label>
    <input name="enemy_rank" id="enemy_rank"
           value="{{ request.form['enemy_rank'] or post['enemy_rank'] }}">
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}