{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['enemy_name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="enemy_name">Title</label>
    <input name="enemy_name" id="enemy_name"
      value="{{ request.form['enemy_name'] or post['enemy_name'] }}" required>
    <label for="enemy_stats">Body</label>
    <textarea name="enemy_stats" id="enemy_stats">{{ request.form['enemy_stats'] or post['enemy_stats'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}